@media only screen and (min-width: 1000px) {
     body {
          font-family: Arial, Helvetica, sans-serif;
          padding: 20px 0;
          margin: 0;
          text-align: center;
      }

      .calc {
          border: 2px solid black;
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          height: 100%;
          background: linear-gradient(to right, #13547a, #80d0c7);
          background-size: cover; 
          
      }

      .card {
          background-color: blue;
          color: gold;
          height: 350px;
          width: 300px;
          margin: 10px 20px;
          display: flex;
          justify-content: center;
          align-items: center;
      }
 }

 @media only screen and (max-width: 1000px) {
     
      
     body {
          font-family: Arial, Helvetica, sans-serif;
          padding: 20px 0;
          margin: 0;
          text-align: center;
      }

      .calc {
          border: 2px solid black;
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          height: 98vh;
          background: linear-gradient(to right, #13547a, #80d0c7);
          background-size: cover; 
          
      }

      h1 {
          color: white;
          font-size: 100px;
      }

      h3 {
          color: white;
          font-size: 50px;
          font-style: italic;
      }

      span {
          margin: 10px;
          padding: 5px;
          font-weight: bold;
          font-size: 100px;
          color: white;
          
      }

      .num {
          background-color: #13547a;
          height: 10%; 
          width: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 0px;
      }

      #next{
          background: black;
          color: gold;
          font-size: 50px;
          padding: 10px 50px;
          border-radius: 10px;
     }


     .Treasure-Map {
          background-color: #13547a;
          margin: 0px auto;
          padding-bottom: 10px;
          height:22%;
          border: 0px;
      }

     .blue-monkey {
          background-color: #13547a;
          margin: 0px auto;
          height: 20%; 
          border: 0px solid black; 
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     
      #blue{
          width: 50%;
          border-radius: 600px;
      }

      .cards {
          background-color: #13547a;
          margin: 0px auto;
          height: 45%; 
          display: flex;
          flex-direction: column;
          width: 100%; 
          align-items: center;
          justify-content: center;
      }

      .card {
          background-color: black;
          color: gold;
          height: 350px;
          width: 300px;
          margin: 10px 20px;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .card p{
          font-size: 90px;
      }

      #card1 {
          margin: 10px 20px;
      }

      #card2 {
          margin: 10px 20px;
      }

      .row1 {
          display: flex;
          justify-content: space-between;
          
      }

      .row2 {
          display: flex;
          justify-content: space-between;
      }

      #card3 {
          margin: 10px 20px;
      }

      #card4 {
          margin: 10px 20px;
      }

      .end {
          background-color: #13547a;
          margin: 0px auto;
          height: 10%; 
          width: 100%; 
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      
      
 }




